Считайте датасет из файла train.csv (это данные о выживаемости на Титанике)

In [1]:
import pandas as pd
df = pd.read_csv('/content/sample_data/train.csv')
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [28]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

•	Выведите основную информацию о датасете: информацию о типах данных, число пропусков, средние значения и т.д.

In [18]:
df.describe ()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [20]:
df.mean

<bound method DataFrame.mean of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [21]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Посчитайте процент выживаемости у каждого класса пассажиров (Pclass)

In [22]:
df.groupby('Pclass')['Survived'].mean() * 100

Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [23]:
print(f"Выживаемость пассажиров каждого класса - {round(df.groupby('Pclass')['Survived'].mean() * 100, 2)}%")

Выживаемость пассажиров каждого класса - Pclass
1    62.96
2    47.28
3    24.24
Name: Survived, dtype: float64%

имя

In [24]:
def get_first_name(name):
  if "Mrs" in name and "(" in name:
    return name.split("(")[1].split()[0]
  return name.split()[2]

In [32]:
df["first_name"]= df["Name"].apply(get_first_name)
df.groupby("Sex")["first_name"].agg(lambda x: x.mode().max())

Sex
female       Anna
male      William
Name: first_name, dtype: object

In [ ]:
df[['Sex', 'Name']]

        Sex                                               Name
0      male                            Braund, Mr. Owen Harris
1    female  Cumings, Mrs. John Bradley (Florence Briggs Th...
2    female                             Heikkinen, Miss. Laina
3    female       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4      male                           Allen, Mr. William Henry
..      ...                                                ...
886    male                              Montvila, Rev. Juozas
887  female                       Graham, Miss. Margaret Edith
888  female           Johnston, Miss. Catherine Helen "Carrie"
889    male                              Behr, Mr. Karl Howell
890    male                                Dooley, Mr. Patrick

[891 rows x 2 columns]

Выведите самое популярное мужское и самое популярное женское имя на корабле

самое популярное женское имя на корабле

In [ ]:
lady = df[df["Sex"] == "female"]['Name'].str.split().str.get(3).value_counts().sort_values(ascending=False)
print (f"Самое популярное женское имя - {lady.index[0]}, встречается - {lady.iloc[0]} раз")

Самое популярное женское имя - Sofia, встречается - 6 раз

In [ ]:
df1 = df[df["Sex"] == "female"]
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [ ]:
df1['Name'].str.split()

1      [Cumings,, Mrs., John, Bradley, (Florence, Bri...
2                             [Heikkinen,, Miss., Laina]
3      [Futrelle,, Mrs., Jacques, Heath, (Lily, May, ...
8      [Johnson,, Mrs., Oscar, W, (Elisabeth, Vilhelm...
9              [Nasser,, Mrs., Nicholas, (Adele, Achem)]
                             ...
880    [Shelley,, Mrs., William, (Imanita, Parrish, H...
882                    [Dahlberg,, Miss., Gerda, Ulrika]
885           [Rice,, Mrs., William, (Margaret, Norton)]
887                    [Graham,, Miss., Margaret, Edith]
888       [Johnston,, Miss., Catherine, Helen, "Carrie"]
Name: Name, Length: 314, dtype: object

In [ ]:
df1['Name'].str.split().str.get(3).value_counts().sort_values(ascending=False)

Name
Sofia         6
A             3
Elizabeth     3
Mary          3
(Elizabeth    3
             ..
Jr            1
(Imanita      1
Natalia       1
(Charlotte    1
Ulrika        1
Name: count, Length: 200, dtype: int64

In [ ]:
name = df1['Name'].str.split().str.get(3).value_counts().sort_values(ascending=False)
print (f"Самое популярное женское имя - {df1['Name'].str.split().str.get(3).value_counts().index[0]}, встречается - {name.iloc[0]} раз")

Самое популярное женское имя - Sofia, встречается - 6 раз

самое популярное мужское имя на корабле

In [ ]:
df3 = df[df["Sex"] == "male"]
df3

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
man = df[df["Sex"] == "male"]['Name'].str.split().str.get(3).value_counts().sort_values(ascending=False)
print (f"Самое популярное мужское имя - {man.index[0]}, встречается - {man.iloc[0]} раз")

Самое популярное мужское имя - Henry, встречается - 15 раз

самое популярное мужское имя на корабле

In [ ]:
df2 = df[df["Sex"] == "male"]
df2['Name'].str.split().str.get(3).value_counts().sort_values(ascending=False)

Name
Henry      15
William    11
John       10
James       9
J           7
           ..
Fenton      1
Antino      1
Paust       1
Michael     1
Howell      1
Name: count, Length: 229, dtype: int64

In [ ]:
name = df2['Name'].str.split().str.get(3).value_counts().sort_values(ascending=False)
print (f"Самое популярное мужское имя - {df2['Name'].str.split().str.get(3).value_counts().index[0]}, встречается - {name.iloc[0]} раз")

Самое популярное мужское имя - Henry, встречается - 15 раз

Выведите самое популярное мужское и самое популярное женское имя на корабле в
каждом классе

In [ ]:
df5=df.Name
df5

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [ ]:
for i in range(3):
    a = df[(df["Sex"] == "female") & (df['Pclass'] == i+1)]['Name'].str.split().str.get(3).value_counts().index[0]
    print (f"Самое популярное женское имя {i+1} класса - {a}")

Самое популярное женское имя 1 класса - Edith
Самое популярное женское имя 2 класса - A
Самое популярное женское имя 3 класса - Sofia

самое популярное женское имя на корабле

In [ ]:
for i in range(3):
  print(f"Самое популярное женское имя {i+1} класса - {df1[(df1['Pclass'] == i+1)]['Name'].str.split().str.get(3).value_counts().index[0]}")

Самое популярное женское имя 1 класса - Edith
Самое популярное женское имя 2 класса - A
Самое популярное женское имя 3 класса - Sofia

самое популярное мужское имя на корабле

In [ ]:
for i in range(3):
    a = df[(df["Sex"] == "male") & (df['Pclass'] == i+1)]['Name'].str.split().str.get(3).value_counts().index[0]
    print (f"Самое популярное мужское имя {i+1} класса - {a}")

Самое популярное мужское имя 1 класса - H
Самое популярное мужское имя 2 класса - Henry
Самое популярное мужское имя 3 класса - Henry

самое популярное мужское имя на корабле

In [ ]:
for i in range(3):
  print(f"Самое популярное мужское имя {i+1} класса - {df2[(df2['Pclass'] == i+1)]['Name'].str.split().str.get(3).value_counts().index[0]}")

Самое популярное мужское имя 1 класса - H
Самое популярное мужское имя 2 класса - Henry
Самое популярное мужское имя 3 класса - Henry

Исправлено

In [ ]:
df['Gender_Name'] = df['Name'] + ' (' + df['Sex'] + ')'

# Группировка по классу и полу и нахождение самой популярной имени
most_popular_names = df.groupby(['Pclass', 'Sex'])['Name'].agg(lambda x: x.mode()[0])

# Вывод результатов
for pclass in most_popular_names.index.levels[0]:
    male_name = most_popular_names[pclass]['male'] if 'male' in most_popular_names[pclass] else None
    female_name = most_popular_names[pclass]['female'] if 'female' in most_popular_names[pclass] else None

    print(f'Класс {pclass}:')
    print(f'  Самое популярное мужское имя: {male_name}')
    print(f'  Самое популярное женское имя: {female_name}')

Класс 1:
  Самое популярное мужское имя: Allison, Master. Hudson Trevor
  Самое популярное женское имя: Allen, Miss. Elisabeth Walton
Класс 2:
  Самое популярное мужское имя: Abelson, Mr. Samuel
  Самое популярное женское имя: Abelson, Mrs. Samuel (Hannah Wizosky)
Класс 3:
  Самое популярное мужское имя: Abbing, Mr. Anthony
  Самое популярное женское имя: Abbott, Mrs. Stanton (Rosa Hunt)

Выведите часть таблицы с пассажирами, возраст которых больше 44 лет - 1 балл

In [ ]:
df[df['Age'] > 44]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C

Выведите часть таблицы с пассажирами, возраст которых меньше 44 лет и которые мужского пола - 2 балла

In [ ]:
df[(df['Age'] < 44) & (df['Sex'] == 'male')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

Выведите количества n-местных кабин (в которых было 2, 3, 4, ... человека) - 1 балл

In [ ]:
a = df.groupby('Cabin')['PassengerId'].count().values
a

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 2, 2,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 2, 2, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 2, 3, 4, 1, 1,
       1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 2, 2,
       1, 1, 3, 1, 1, 1, 2, 1, 2, 1, 2, 1, 1, 2, 2, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 3, 1, 2, 1, 2, 2, 1, 2, 1, 1, 1, 1, 2, 1, 1, 1,
       1, 1, 2, 1, 1, 2, 1, 1, 2, 3, 3, 1, 2, 4, 1])

In [ ]:
import numpy as np
unique, counts = np.unique(a, return_counts=True)
for i, j in zip(unique, counts):
  print(f"{i}-местных кабин {j} шт.")

1-местных кабин 101 шт.
2-местных кабин 38 шт.
3-местных кабин 5 шт.
4-местных кабин 3 шт.